:root{
    --black-bg-color: black;
    --white-bg-color: white;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--black-bg-color);
    padding: 0px;
    margin: 0px;
}

.container{
    background-color: var(--white-bg-color);
    width: 70%;
    height: 120vh;
    display: flex;
    justify-content: center;
}

.logo-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url("images/wp.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 40vw;
}

.logo{
    background-color: rgba(0,0,0,.5);
    margin-top: 100px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-title{
    color: white;
    font-size: 60px;
    margin: 10px;
}

.logo-img{
    width: 10%;
}

.credit{
    position: relative;
    color: white;
    bottom: 15px;
    text-align: center;
    font-size: 12px;
}

.credit a{
    text-decoration: none;
    color: gray
}

.form-container{
    background-color: var(--white-bg-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
}

.form-head{
    height: 30%;
}

.form-head p{
    padding-top: 20%;
    padding-bottom: 10px;
    padding-left: 20px;
    font-size: 22px;
}

.form-body{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: auto;
    width: 100%;
}

.form-title{
    padding-left: 30px;
    margin-top: 25px;
    margin-bottom: 10px;
    font-size:20px;
}

.form{
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    padding-left: 30px;
}

label{
    display:block;
    font-size: 1em;
}

.input{
    width: 50%;
    padding: 0px;
    margin-bottom: 20px;
}

input{
    width: 80%;
}

.form-footer{
    padding-top: 5%;
    padding-left: 30px;
    height: 30%;
}

.form-footer p{
    font-size: 18px;
}


.form-button{
    background-color: #f28100;
    color: white;
    font-weight: bold;
    width: 35%;
    height: 40px;
    border-radius: 5px;
    margin-bottom: 20px;
}


.form-button:hover{
    background-color: #d86c00;
    cursor: pointer;
}

.login{
    font-size: 14px;
}

.login a{
    color: #f28100;
}

